*.pyc
__pycache__
myvenv
db.sqlite3
db.postgresql
/static
.DS_Store
*.swp
local_settings.py
settings.py
.jshintrc
.jsdtscope
org.eclipse.*
com.eclipsesource.*
.project
.pydevproject
porquienvoto/settings/local.py
scripts_auxiliares/*
*/migrations/*
dumpdata/
pdfjs/