{% extends 'homepage/base.html' %}

{% load staticfiles %}

{% block scripts %}
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script src="https://www.google.com/jsapi"></script>
	<script>
		var relpropuestas = $.parseJSON('{{ relpropuestas|escapejs }}');
		var candidatos = {};
		{% for candidato in lista_candidatos %}
			candidatos[{{ candidato.id|escapejs }}] = {'partido': '{{ candidato.partido_candidato.nombre_partido|escapejs }}',
			'color': '{{ candidato.partido_candidato.color_partido|escapejs }}',
			'alias': '{{ candidato.alias_candidato|escapejs }}',
			'id' : {{ candidato.id|escapejs }}, }
		{% endfor %}
		window.csrftoken="{{ csrf_token|escapejs }}";
	</script>
	<script src="{% static "quiz/js/preguntas.js" %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/6.0.16/bootstrap-slider.min.js"></script>
	<!-- Go to www.addthis.com/dashboard to customize your tools -->
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56cb87554f8c34f8"></script>
	
{% endblock scripts %}

{% block estilos %}
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/6.0.16/css/bootstrap-slider.min.css">
{% endblock estilos %}

{% block navegacion %}
	<li><a href="{% url 'indice' %}">Inicio</a></li>
	<li class="active"><a href="{% url 'quiz:quizindex' %}">Preguntas</a></li>
	<li><a href="{% url 'codificacion:codeindex' %}">Codificar</a></li>
	<li><a href="{% url 'acercade' %}">Acerca de</a></li>
{% endblock navegacion %}

{% block content %}
<article>

	<div id="barra_error" class="alert alert-danger">
		<span id="barra_error_texto"></span>
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	</div>
	
	<div class="alert alert-danger">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<i class="fa fa-exclamation-triangle"></i>
		<strong>ADVERTENCIA:</strong>
		<p>Este sitio se encuentra en desarrollo y los datos son ALEATORIOS.
		Si te interesa contribuir en el proyecto, puedes <a href="{% url 'registro' %}">crear una cuenta</a>.<p>
	</div>

	<div id="boton_retroceso">
		<a type="button" class="btn btn-link">
			<p class="text-muted" id="boton_retroceso_texto"></p>
		</a>
	</div>

	<div id="divPreguntas">
		{% if propuestas %}
			{% if lista_candidatos %}
			<ul>
				{% for categoria, propuesta_categorizada in propuestas.items %}
				
				<h3> {{ categoria.titulo_categoria }} </h3>
				<div class="list-group">				
					{% for propuesta in propuesta_categorizada %}
					<li class="list-group-item"> <h4> {{ propuesta.titulo_propuesta }} </h4>
					<div class="descripcion_propuesta">
						{{ propuesta.pregunta_propuesta }}
					</div> 
					<br>
					<div class="row">					
						<div class="col-md-8">
							<div class="btn-group-justified opciones_quiz" role="group" data-toggle="buttons">
							  <label class="btn btn-default boton_{{ propuesta.id }}">
							    <input type="radio" name="op_{{ propuesta.id }}" id="td_{{ propuesta.id }}" autocomplete="off" value="-1" />
							    <i class="fa fa-thumbs-down" title="En desacuerdo"></i>
							  </label>
							  <label class="btn btn-default boton_{{ propuesta.id }}">
							    <input type="radio" name="op_{{ propuesta.id }}" id="d_{{ propuesta.id }}" autocomplete="off"  value="0" />
								<i class="fa fa-circle-o" title="Neutral"></i>
							  </label>
							  <label class="btn btn-default boton_{{ propuesta.id }}">
							    <input type="radio" name="op_{{ propuesta.id }}" id="n_{{ propuesta.id }}" autocomplete="off"  value="1" />
							    <i class="fa fa-thumbs-up" title="De acuerdo"></i>
							  </label>
							</div>
						</div>
						<div class="hidden-lg hidden-md">&nbsp;</div>
						<div class="col-md-4 text-center">
							<label class="text-muted"><h6>¿Cuánta importancia tiene esto para tí?</h6></label>
							<input id="slider_{{ propuesta.id }}" data-slider-id='slider_{{ propuesta.id }}Slider' type="text" data-slider-min="0" data-slider-max="4" data-slider-step="1" data-slider-value="2"/>
						</div>
					</div>
					<script>
						$(document).ready(function() {
							$("input[name='op_{{ propuesta.id|escapejs }}']:radio").change(function () {
								respuestas['{{ propuesta.id|escapejs }}'] = parseInt($(this).val(),10);
							});
							$('#slider_{{ propuesta.id|escapejs }}').slider({
								formatter: function(value) {
									return 'Importancia asignada: ' + value;
								}
							});
						});
					</script>
					
					</li>
					{% endfor %}
				</div>
				{% endfor %}
			</ul>
			<form method="POST" class="preguntas-form post-form" id="enviar_respuestas">
				{% csrf_token %}
				<button type="submit" class="enviar btn btn-success" value="Subir">Enviar</button>
			</form>
			{% else %}
				<script>
					$("#barra_error").css("display","inline-block");
					$("#barra_error").text('<strong>ADVERTENCIA</strong>: La lista de candidatos no se ha podido cargar correctamente' +
					'y <strong>no se van a poder mostrar los resultados</strong>');
				</script>
			{% endif %}
		{% else %}
			<p> No se han encontrado preguntas en el servidor. </p>
		{% endif %}
	</div>

	<div id="divResultados" style="display:none">
		<section>
			<h2> Resultados </h2>
			<div class="row">
				<div id="barrasCanvas" width="1200" height="810"></div>
				<hr>
			</div>
		</section>
		<section>
			<h2>&#191;C&#243;mo te comparas?</h2>
			<div class="row top1">
				<div class="col-md-2">
				    	<ul class="nav nav-tabs nav-stacked" role="tablist" id="tabsCandidatos">
							{% for candidato in lista_candidatos %}
							<li role="presentation">
								<a href="#candidatoTabID_{{ candidato.id}}" role="tab" aria-controls="Tab_{{ candidato.id }}" data-target="#Tab_{{ candidato.id }}" data-toggle="tab">
									{{ candidato.partido_candidato.nombre_partido }}
								</a>
							</li>
							{% endfor %}
				    	</ul>
				</div>
				<div class="col-md-10">
					<div class="tab-content">
					{% for candidato in lista_candidatos %}
					<div role="tabpanel" class="tab-pane" id="Tab_{{ candidato.id }}">
						<table class="table">
						{% for categoria, propuesta_categorizada in propuestas.items %}
						<tr>
							<th id="tablasCat_{{ categoria.id }}"><strong>{{ categoria }}</strong></th>
							<th></th><th></th>
						</tr>
						{% for propuesta in propuesta_categorizada %}
			 			<tr class="tablasP_{{ propuesta.id }}">
							<td>
								{{ propuesta.titulo_propuesta }}
							</td>
							<td class="posCandidato">
								<span>-</span>
							</td>
							<td class="posUsuario">
								<span>-</span>
							</td>
							<td class="posMatch">
								<span>-</span>
							</td>
						</tr>
						{% endfor %}
						{% endfor %}
						</table>
					</div>
					{% endfor %}
					</div>
				</div>
			</div>
		</section>
	</div>

</article>
{% endblock content %}
