{% extends 'codificacion/codebase.html' %}

{% block content %}

	<header>
		<h1>Tu cuenta <small>{{ usuario.username }}</small></h1>
	</header>
		
	<article>
	
		<div class="row">
			<div class="col-md-12">
				{% if not aportes %}
				<div class="jumbotron text-info">
					Aún no tienes aportes. Puedes empezar <a href={% url 'codificacion:codeindex' %}>aquí</a>.
				</div>
				{% else %}
				<div class="list-group">
					<h3>Aportes</h3>
					{% for aporte in aportes %}
					<a href="{% url 'codificacion:candprop' aporte.relpropuesta.propuesta_relpropuestas.id aporte.relpropuesta.candidato_relpropuestas.id %}"
					class="list-group-item">
						{{ aporte.relpropuesta }}
					</a>		
					{% endfor %}
				</div>
				{% endif %}
			</div>
		</div>
		
	</article>

{% endblock content %}