{% extends 'homepage/base.html' %}

{% load staticfiles %}

{% block scripts %}
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script src="https://www.google.com/jsapi"></script>
	<script>
		var datatwitter = $.parseJSON('{{ datatwitter|escapejs }}');
		var candidatos = $.parseJSON('{{ candidatos|escapejs }}');
		var tiempos = $.parseJSON('{{ tiempos|escapejs }}');
	</script>
	<script type="text/javascript" src="{% static "twitstream/js/graficar_twitter.js" %}"></script>
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56cb87554f8c34f8"></script>
	
{% endblock scripts %}

{% block navegacion %}
	<li><a href="{% url 'indice' %}">Inicio</a></li>
	<li><a href="{% url 'quiz:quizindex' %}">Preguntas</a></li>
	<li><a href="{% url 'codificacion:codeindex' %}">Codificar</a></li>
	<li class="active"><a href="{% url 'twitstream:twit' %}">Popularidad en Twitter</a></li>
	<li><a href="{% url 'acercade' %}">Acerca de</a></li>
{% endblock navegacion %}

<div class="container-fluid">
	<noscript>
		<div id="barra_error" class="alert alert-danger">
			<span id="barra_error_texto">
				<p>Para utilizar las funcionalidades completas de este sitio es necesario tener JavaScript habilitado.
				Aqu&#237; est&#225;n las <a href="http://www.enable-javascript.com/es/" target="_blank">
				instrucciones para habilitar JavaScript en tu navegador web</a>.</p>
			</span>
		</div>
	</noscript>
</div>

{% block container_estandar %}
{% block content %}
<div class="container-fluid">
	<div id="timeline_twitter" style="width: 100%; height: 800px"></div>
</div>
{% endblock content %}
    	
<footer class="footer">
	<div class="container">
		<p class="text-muted">
			PQV 2016 -
	    </p>
	</div>
</footer>
{% endblock container_estandar %}


