{% extends 'homepage/base.html' %}

{% load staticfiles %}

{% block scripts %}
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script src="https://www.google.com/jsapi"></script>
	<script>
		var datatwitter = $.parseJSON('{{ datatwitter|escapejs }}');
		var candidatos = $.parseJSON('{{ candidatos|escapejs }}');
		var tiempos = $.parseJSON('{{ tiempos|escapejs }}');
	</script>
	<script type="text/javascript" src="{% static "twitstream/js/graficar_twitter.js" %}"></script>
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56cb87554f8c34f8"></script>
	
{% endblock scripts %}

{% block navegacion %}
	<li><a href="{% url 'indice' %}">Inicio</a></li>
	<li><a href="{% url 'quiz:quizindex' %}">Preguntas</a></li>
	<li><a href="{% url 'codificacion:codeindex' %}">Codificar</a></li>
	<li class="active"><a href="{% url 'twitstream:twit' %}">Popularidad en Twitter</a></li>
	<li><a href="{% url 'acercade' %}">Acerca de</a></li>
{% endblock navegacion %}

{% block content %}
<section>
	<div class="row">
		<div id="timeline_twitter" style="width: 1300px; height: 1000px"></div>
	</div>
</section>
{% endblock content %}
